@{
    ViewData["Title"] = "Contact";
}

<style>
    body {
        background-color: #2C3E50;
        color: #E8F3F4;
    }

    h1, h2, h3, h4, p, li {
        color: #E8F3F4 !important;
    }

    .btn-custom {
        background-color: #3498DB;
        border-color: #2980B9;
        color: #E8F3F4;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .btn-custom:hover {
            background-color: #2980B9;
            transform: scale(1.1);
        }

    .card {
        background-color: #34495E;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

        .card:hover {
            transform: translateY(-10px);
        }

    .card-header, .card-footer {
        background-color: #2C3E50;
        border: none;
    }

    .text-white {
        color: #E8F3F4 !important;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

        .social-icons li {
            margin: 0 10px;
        }

        .social-icons i {
            font-size: 1.5rem;
            color: #E8F3F4;
            transition: color 0.3s ease;
        }

            .social-icons i:hover {
                color: #3498DB;
            }

    .btn-custom {
        background-color: #3498DB;
        border: none;
        color: #E8F3F4;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 25px;
        display: inline-block;
        text-decoration: none;
    }

        .btn-custom:hover {
            background-color: #2980B9;
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .btn-custom:focus {
            outline: none;
        }

    .text-center {
        text-align: center;
    }

    .my-4 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .mx-2 {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
</style>

<div class="text-center my-4">
    @Html.ActionLink("Regresar", "Index")
    @Html.ActionLink("Experiencia", "Experience")
</div>

<h1 class="text-center mt-3">Información de contacto</h1>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/20231014_144411_454_Original.jpeg" class="d-block w-100" alt="First Image">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/IMG-20230530-WA0008_Original.jpeg" class="d-block w-100" alt="Second Image">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/IMG_0514.jpeg" class="d-block w-100" alt="Third Image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark">
                <div class="card-header">
                    <h3 class="text-center text-white">Datos personales</h3>
                </div>
                <div class="card-body">
                    <ul style="list-style: none">
                        <li><p><i class="fa-solid fa-angles-right text-white"></i>&nbsp;CHRISTOPER CARLOS IVAN RAMIREZ SANCHEZ</p></li>
                        <li><p><i class="fa-solid fa-angles-right text-white"></i>&nbsp;4772259672</p></li>
                        <li><p><i class="fa-solid fa-angles-right text-white"></i>&nbsp;cciramirez@outlook.com</p></li>
                        <li><p><i class="fa-solid fa-angles-right text-white"></i>&nbsp;León Guanajuato</p></li>
                        <li><p><i class="fa-solid fa-angles-right text-white"></i>&nbsp;México</p></li>
                    </ul>
                    <h4 class="text-center mt-1 text-white">Habilidades Blandas</h4>
                    <ul style="list-style: none">
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Liderazgo</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Comunicación efectiva</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Resolución de problemas</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Trabajo en equipo</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Adaptabilidad</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Responsabilidad</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Gestión de tiempo y organización</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Pensamiento innovador</p></li>
                    </ul>
                    <h4 class="text-center mt-1 text-white">Habilidades Técnicas</h4>
                    <ul style="list-style: none">
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Lenguajes de programación: JavaScript, Python, Java, PHP, C#, TypeScript</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Frameworks y Librerías: React, InertiaJS, Laravel, CodeIgniter,  Vite, Tailwind,</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Bases de datos: MySQL, MongoDB</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Control de versiones: Git</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Metodologías ágiles: Scrum, Kanban</p></li>
                        <li><p><i class="fa-solid fa-check text-white"></i>&nbsp;Inglés: Nivel B2</p></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <ul class="social-icons">
                        <li><span><a target="_blank" style="text-decoration: none;color: #fff;" href="https://mx.linkedin.com/in/christoper-carlos-ivan-ramirez-sanchez-a62b18205"><i class="fa-brands fa-linkedin fs-3"></i></a></span></li>
                        <li><span><a target="_blank" style="text-decoration: none;color: #fff;" href="https://github.com/IvanRS9"><i class="fa-brands fa-github fs-3"></i></a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>