
@{
    ViewData["Title"] = "Experience";
}

<style>
    body {
        background-color: #2C3E50;
        color: #E8F3F4;
    }

    h1, h2, h3, h4, p, li {
        color: #E8F3F4 !important;
    }

    .btn-custom {
        background-color: #3498DB;
        border-color: #2980B9;
        color: #E8F3F4;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .btn-custom:hover {
            background-color: #2980B9;
            transform: scale(1.1);
        }

    .card {
        background-color: #34495E;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        margin-bottom: 20px;
    }

        .card:hover {
            transform: translateY(-10px);
        }

    .card-header, .card-footer {
        background-color: #2C3E50;
        border: none;
    }

    .text-white {
        color: #E8F3F4 !important;
    }
</style>

<div class="text-center my-4">
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-custom mx-2" })
    @Html.ActionLink("Formación académica", "Academy", null, new { @class = "btn btn-custom mx-2" })
</div>

<h1 class="text-center mt-3">Experiencia Laboral</h1>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-white">SATECH</h3>
                </div>
                <div class="card-body">
                    <h5 class="text-white">Director de Desarrollo</h5>
                    <p class="text-white">Septiembre 2022 - Presente</p>
                    <p class="text-white">Como Director de Desarrollo en SATECH, lidero un equipo dinámico en la creación 
                        y ejecución de proyectos innovadores de desarrollo de software. Mis responsabilidades incluyen la supervisión y 
                        coordinación de equipos multidiciplinarios, la implementación de las mejores practicas de desarrollo y la garantia 
                    de la calidad del producto final.
                        Durante mi tiempo en SATECH, he logrado optimizar los procesos de desarrollo, lo que ha llevado a una mayor 
                        eficiencia y satisfacción del cliente. Además, he impulsado la adopción de nuevas tecnologías y metodologías 
                        ágiles, lo que ha mejorado significativamente la productividad y la entrega oportuna de proyectos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-white">Recicle</h3>
                </div>
                <div class="card-body">
                    <h5 class="text-white">Desarrollador Web</h5>
                    <p class="text-white">Abril 2022 - Agosto 2022</p>
                    <p class="text-white">Como Desarrollador Web en Recicle, fui parte de un equipo apasionado que trabajó en el desarrollo 
                        y mantenimiento de su página web, con la implementación de nuevas caracteristicas e información actualizada sobre la 
                        empresa y los servicios que brinda para el control y administracion de reciduos peligrosos.
                        Durante mi tiempo en Recicle colabore estrechamente con el area de atencion al cliente, administrativa y marketing 
                        para comprender y brindar la mejor informacion y experiencia a los usuarios interesados sobre el control de los 
                        reciduos peligrosos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-white">MeriAutos</h3>
                </div>
                <div class="card-body">
                    <h5 class="text-white">Desarrollador Web</h5>
                    <p class="text-white">Enero 2022</p>
                    <p class="text-white">Como Desarrollador Web en MeriAutos, tuve la responsabilidad de diseñar y desarrollar un sitio web dinámico 
                        que se presentara de manera atractiva y eficiente la información sobre los autos disponibles para la venta. Trabajé em 
                        estrecha colaboración con el equipo de diseño para crear una interfaz intuitiva y amigable para el usuario, facilitando la 
                        navegación y la busqueda de vehicuos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>