
@{
    ViewData["Title"] = "Index";
}

<h1>Inicio de clientes</h1>
<hr />

<div>
    <h3>Bienvenidos</h3>
    <p>
        Esta es una vista especial para los clientes de la empresa
    </p>
    <br />

    @Html.ActionLink("Pedidos", "Pedidos");
</div>

