@{
	ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>
<hr />

<div>
	<form action="/" method="post">
		<label for="producto">Producto:</label>
		<input type="text" name="producto" id="producto" />
		<br />
		<label for="cantidad">Cantidad:</label>
		<input type="number" name="cantidad" id="cantidad" />
		<br />
		<label for="fecha_entrega">Fecha entrega:</label>
		<input type="date" name="fecha_entrega" id="fecha_entrega" />
		<br />
		<input type="submit" value="Enviar" />
	</form>
</div>

